{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "web/includes/header.html" %}

    <section id="wrapper">
        <h1>TODO TASK LIST</h1>
        <div class="content">
            {% for instance in instances %}
           <div class = "container">
       
            <h1 class="left">
               
                <p>{{instance.title}}</p>
            </h1>
                <h2 class="right">
                    
                    <a href="">Finished Task</a>
                    <a href="">Edit Task</a>
                    <a href="{% url 'posts:delete_post' %}" 
                    class="action-button"
                    data-text="Are you sure want to remove this post."
                    data-title="Confirm Delete!"
                    title="Delete">Delete Task</a>
                  
              </h2>
            </div>
              {% endfor %}
            
        </div>
       
    </section>
    {% endblock %}
