{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "web/includes/header.html" %}

    <section id="wrapper">
        <h1>TODO TASK LIST</h1>
        <div class="content">
           
       
            <h1 class="left">
                <p>Read one book a week for a whole year</p>
            </h1>
                <h2 class="right">
                    
                    <a href="">Finished Task</a>
                <div class="container">
                    <img src="{% static 'images/delete.svg' %}"/>
                </div>
              </h2>
        </div>
       
    </section>
    {% endblock %}
